
#employeeView {
    width: 100%;
    border-collapse: collapse;
}

#employeeView th,
#employeeView td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

#employeeView th {
    background-color: #7ca791;
}

#employeeView th:hover,
#employeeView tr:hover,
#searchByNameDiv button:hover,
#searchByCityDiv button:hover,
#language:hover {
    background-color: #7ca791;
    border: 1px solid black;
}


#searchByNameDiv,
#searchByCityDiv,
#languageDiv {
    background-color: white;
    padding: 15px;
}

#searchByNameDiv button,
#searchByCityDiv button,
#language,
#stylesButton {
    background-color: #7ca791;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

#searchByNameDiv input,
#searchByCityDiv input{
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

